<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46395801472-6u4laj3io3ls67jephok6ls6r47v6c84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46395801472-6u4laj3io3ls67jephok6ls6r47v6c84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46395801472-98211v6km63o318ojr1a5r16vam3ijp9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPEfPeCgBlj1xCRcCQaYqmrwlsrhjPBJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>46395801472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rivalpicks.app</string>
	<key>PROJECT_ID</key>
	<string>rival-picks-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rival-picks-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46395801472:ios:f0ad9153eb6cb150810b65</string>
</dict>
</plist>