<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RivalPicks.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DA83538EF8B9C6B8061AB293971945E3A0FEAC88</string>
				<key>dateExpires</key>
				<string>12/24/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA83538EF8B9C6B8061AB293971945E3A0FEAC88</string>
						<key>dateExpires</key>
						<string>12/24/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H977QD5KKX</string>
						<key>name</key>
						<string>Koen Sakamoto</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA83538EF8B9C6B8061AB293971945E3A0FEAC88</string>
						<key>dateExpires</key>
						<string>12/24/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H977QD5KKX</string>
						<key>name</key>
						<string>Koen Sakamoto</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA83538EF8B9C6B8061AB293971945E3A0FEAC88</string>
						<key>dateExpires</key>
						<string>12/24/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H977QD5KKX</string>
						<key>name</key>
						<string>Koen Sakamoto</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H977QD5KKX.com.rivalpicks.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:api.rivalpicksapp.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>H977QD5KKX</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RivalPicks.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>718c9704-cb09-407f-a180-9886845c5759</string>
				<key>dateExpires</key>
				<string>12/24/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.rivalpicks.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H977QD5KKX</string>
				<key>name</key>
				<string>Koen Sakamoto</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
